@tailwind base;
@tailwind components;
@tailwind utilities;

.notfound-fixed{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px 20px 30px 40px;
}

@keyframes loadingAnimation {
    0%{
        transform: translateY(-50%);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(50);
    }
}